html {
  scroll-behavior: smooth;
}

body {
  background: #1f2235;
  font-family: "Baloo Tamma 2", cursive;
}

.container.btn-custom{
  text-decoration: none;
}

.m-heading {
  font-family: "Roboto Slab", serif;
}

/* Nav */
.navigation-link {
  border: 2px solid transparent;
}
.welcome{
  display: flex;
  align-items: row;
  justify-content: center;
  margin-bottom: 13%;
  margin-top: 9%;
}

.welcome .foto{
  width: 330px;
  height: 330px;
  border-radius: 50%;
  border: 5px solid #f5ba09;
  box-shadow: 4px 2px 2px #313552;
  border-bottom: -20px;
}
.container .sobre-img{
  margin-top: 70px;
  margin-left: 30px;
  -webkit-border-radius: 100px 0px 100px 0px;
  -moz-border-radius: 100px 0px 100px 0px;
  border-radius: 100px 0px 100px 0px;
}
.contaqiner .sobre-mim{
  padding-left: -10px;
}

.apresentacao{
  padding-right: 200px;
}


.navigation-link:hover {
  text-decoration: none;
  border-bottom: 2px solid #f5ba09;
  transition: 0.5s ease;
}


.main-container {
  height: 100vh;
}


.main_row {
  display: flex;
  justify-content: center;
  align-items: center;
}


.main_row h1 {
  font-size: 4rem;
}


.main_row img {
  width: auto;
  height: 100vh;
}


.about {
  background: #313552;
  border-radius: 0.5rem;
}

.card {
  border-bottom: 8px solid #f5ba09;
}


#midias-sociais,#tecnologias,.projetos {
  background: #313552;
}

.github,.email,.twitter,.linkedin{
  margin-right: 35px;
}.linkedin{
  margin-left: 20px;
}


/* AREA DAS TECNOLOGIAS*/
.tec-link,.tec-link-css,.tec-link-git,.tec-link-html,.tec-link-linux {
  padding: 5px;
  margin-left: 1rem;
  border: 2px solid #f5ba09;
  border-radius: 0.5rem;
}
.tec-link{
  max-width: 12rem;
}
.tec-link-css{
  max-width: 7rem;
}
.tec-link-html{
  max-width: 8rem;
}
.tec-link-git{
  max-width: 100px;
}
.tec-link-linux{
  max-width: 127px;
}