/* Global Properties */
html {
  scroll-behavior: smooth;
}

body {
  background: #1f2235;
  font-family: "Baloo Tamma 2", cursive;
}

/* Main Heading Font */
.m-heading {
  font-family: "Roboto Slab", serif;
}

/* Navigation */
.navigation-link {
  border: 2px solid transparent;
}
.welcome{
  display: flex;
  align-items: row;
  justify-content: center;
  margin-bottom: 13%;
  margin-top: 9%;
}

.welcome .foto{
  width: 330px;
  height: 330px;
  border-radius: 50%;
  border: 5px solid #f5ba09;
  box-shadow: 4px 2px 2px #313552;
  border-bottom: -20px;
}
.container .sobre-img{
  padding-top: 70px;
  padding-left: 30px;
  border-bottom-right-radius: 150px;
  border-top-left-radius: 150px;
}
.contaqiner .sobre-mim{
  padding-left: -10px;
}

.apresentacao{
  padding-right: 200px;
}


.navigation-link:hover {
  text-decoration: none;
  border-bottom: 2px solid #f5ba09;
  transition: 0.5s ease;
}

/* Main Container height*/
.main-container {
  height: 100vh;
}

/* Aligning items in main row */
.main_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Changing Name Font sixe */
.main_row h1 {
  font-size: 4rem;
}

/* Making the main image the size of the screen */
.main_row img {
  width: auto;
  height: 100vh;
}

/* About Section */
.about {
  background: #313552;
  border-radius: 0.5rem;
}

.card {
  border-bottom: 8px solid #f5ba09;
}

/* Social Media Section */
#midias-sociais,#tecnologias,.projetos {
  background: #313552;
}
a{
  text-decoration: none;
}

/* Add color to Social Media Links */
.media-link {
  margin-left: 30px;
  padding: 7px;
  max-width: 9rem;
  margin-left: 1rem;
  border: 2px solid #f5ba09;
  border-radius: 0.5rem;
}
.media-link-linkedin{
  margin-left: 30px;
  padding: 7px;
  max-width: 10rem;
  margin-left: 1rem;
  border: 2px solid #f5ba09;
  border-radius: 0.5rem;
}

/* AREA DAS TECNOLOGIAS*/
.tec-link,.tec-link-css,.tec-link-git,.tec-link-html,.tec-link-linux {
  padding: 8px;
  margin-left: 1rem;
  border: 2px solid #f5ba09;
  border-radius: 0.5rem;
}
.tec-link{
  max-width: 14rem;
}
.tec-link-css{
  max-width: 9rem;
}
.tec-link-html{
  max-width: 10rem;
}
.tec-link-git{
  max-width: 8rem;
}
.tec-link-linux{
  max-width: 10rem;
}