*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}a:hover{
    text-decoration:none;
    color:#333 !important;
}

	/*FORMATAÇÃO DA NAVEGAÇÃO*/
.navbar{
	margin:auto;
	margin-bottom:160px;
	color:#a7a7a7;
	clear:both;
	background:#f4f4f4;
    padding-top:23px;
}.navbar ul{
	list-style:none;
	margin:0;
}.navbar li{
	float:left;
	margin-right:1.65em;
}.navbar ul li.ativo a{
    color:#4d4d4d;
}.navbar ul li a{
    color:#a7a7a7;
}

.fa-arrow-up:before{
    content:"\f062";
    background-color: #CDCDCF;
    font-size: 20px;
    box-shadow: 2px 2px 5px #333;
    padding: 10px;
    position: fixed;
    left: 376px;
    bottom: 10px;
    border-radius: 10px;
}

.avatar,.welcome{
	float:left;
	margin-left:3%;
}.avatar img{
    width:81px;
    height:81px;
    border-radius:99px;
}.welcome{
	width: 80%;
}

.lista-trabalho li{
    list-style:none;
    font-size:0.9375em;
    color:#8c8c8c;
}.lista-trabalho li a{
    padding-bottom:1px;
    font-size:1.1875em;
    font-weight:700;
    text-decoration:none;
    border-bottom:1px solid #b3b3b3;
}.lista-habilidades li{
    list-style:none;
    font-size:0.9375em;
    color:#8c8c8c;
}.lista-projetos li{
    list-style:none;
    font-size:0.9375em;
    color:#8c8c8c;
}


	/*FORMATAÇÃO DOS TOPICOS*/
h1{
	line-height:1.1;
	font-size:2.10em;
}


	/*ESPAÇAMENTO DA BARRA ENTRE OS TOPICOS*/
p,ul{
	margin-bottom:1.65em;
}

a,p,li{
    font-family:"Lato",Arial,sans-serif;
    color:#4e4e4e;
    font-size:1em;
    line-height:1.75em
}
h1,h2,h3{
    font-family:"Playfair Display SC",serif;
    color:#333
}


	/*ICONES DE CONTATO*/
@font-face{
	font-family:'FontAwesome';
	src:url('fonts/fontawesome-webfont.eot?v=4.2.0'),
	url('fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'),
	url('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal;
}
.fa{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
}.fa-github:before{
	content:"\f09b";
}
.fa-twitter:before{
	content:"\f099";
}
.fa-linkedin:before{
	content:"\f0e1";
}
.fa-send:before{
	content:"\f1d8";
}

footer .social li{
    display:inline;
    margin-left:20px;
}
footer .social li a{
    font-size:1.25em;
    color:#999;
}

.container{
    margin:auto;
    max-width:680px;
    padding:0 20px;
    margin-bottom:90px;
    position:relative;
}.container h1{
    text-transform:uppercase;
    margin-bottom:25px;
    position:relative;
}.separador:after{
    position:absolute;
    content:url(img/separador.png);
    left:20px;
}

.contatos{
	padding: 20px;
	margin-left: 38%;
}
.social{
	margin-left: 36%;
}